* {
  box-sizing: border-box;
}
 
body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #f8dfa4fa; 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
} 
 
.cabecalho { 
  background-color: #f47aab; 
  padding: 15px 25px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
 
.cabecalho-link { 
  color: #fff; 
  text-decoration: none; 
} 
 

.cabecalho h1 { 
  color: #fff; 
  font-size: 24px; 
  margin: 0;
} 
 
main { 
  flex: 1; 
  padding: 24px;
} 
 
main h2 {
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 20px;
}
 
section { 
  display: flex; 
  flex-wrap: wrap;
  gap: 16px; 
} 
 

 
.cartao {
  width: 260px;
  height: 220px;
  perspective: 1000px; 
}
 
.cartao-interno { 
  position: relative; 
  width: 100%;
  height: 100%;
  transition: transform 0.8s; 
  transform-style: preserve-3d; 
} 
 
.cartao-frente, 
.cartao-verso { 
  position: absolute; 
  width: 100%;
  height: 100%;
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  backface-visibility: hidden; 
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
} 
 
.cartao-frente p,
.cartao-verso p {
  margin: 0;
  padding: 10px 14px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
}
 
.cartao-verso { 
  transform: rotateY(180deg); 
} 
 
.cartao:hover .cartao-interno,
.cartao.virado .cartao-interno { 
  transform: rotateY(180deg); 
} 
 
.cartao {
  cursor: pointer;
}
 

.cartao-imagem {
  width: 100%;
  height: 110px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f9f9f9;
  border-radius: 12px 12px 0 0;
}


.cartao-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Regra caso você use <svg> */
.cartao-imagem svg {
  width: 100%;
  height: 100%;
  display: block;
}
 
.cartao-selo {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(200, 97, 46, 0.685);
}
 

.cartao-mentira {
  border-left: 5px solid #e63946;
}
 
.cartao-verdade {
  border-left: 5px solid #52b788;
}
 
footer { 
  background-color: #d68238ca; 
  padding: 15px 25px; 
  color: #fff; 
}
 
footer p {
  margin: 0;
}